<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Latest compiled and minified CSS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <nav class="navbar navbar-default ">
    <div class="container-fluid ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img class="logo" alt="Brand" src="../img/logo.png"> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Registro</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


  {% block content %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <div class="col-xs-12">
        <div class="row contact-foot">
          <div class="col-xs-12 col-sm-4">
            <p>
              Tel. 01 2222 61 90 30
            </p>
            <p> Email:info@nextplayers.mx </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>NextPlayers.mx</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>Términos de privacidad y política</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="icons-social">
          <a href="#" class="facebookF" title="Facebook"></a>
          <a href="#" class="twitterF" title="Twitter"></a>
          <a href="#" class="instagramF" title="Instagram"></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script>
  $(document).ready(function() {
    // Clone select list data in a custom select list
    // Replicate info
    $('#select-sport').each(function() {
      var numberOfOptions = $(this).children('option').length;
      $(this).wrap('<div class="select-sport"></div>');
      $(this).after('<div class="select-box"></div>');

      var $styledSelect = $('.select-box');
      $styledSelect.text($(this).children('option').eq(0).text());

      var $list = $('<ul />', {
        'class': 'select-options'
      }).insertAfter($styledSelect);

      for (var i = 0; i < numberOfOptions; i++) {
        $('<li />', {
          text: $(this).children('option').eq(i).text(),
          rel: $(this).children('option').eq(i).val(),
          click: function() {
            console.log($(this).text());
            $styledSelect.text($(this).text());
          }
        }).appendTo($list);
      }

      var $listItems = $list.children('li');

      $styledSelect.click(function(e) {
        e.stopPropagation();
        $('.select-box.active').each(function() {
          $(this).removeClass('active').next('ul.select-options').hide();
        });
        $(this).toggleClass('active').next('ul.select-options').toggle();
      });

      $(document).click(function() {
        $styledSelect.removeClass('active');
        $list.hide();
      });

    });
  });
  </script>

</body>

</html>
