{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="top-sign">
    <img src="../img/jugador_escudo.png" alt="...">
    <h1> Jugador </h1>
    <h1> Selecciona tu deporte </h1>

  </div>


  <div class="input-sign">
    <form>
      <select id="select-sport" class="select-hidden">
        <option value="0">Jugador</option>
        <option value="1">Coach</option>
        <option value="2">Organización</option>

      </select>
      <div class="form-group">

        <input type="email" class="form-control input-space" id="exampleInputEmail1" placeholder="Nombre" style="color:black;">
      </div>
      <div class="form-group">

        <input type="password" class="form-control input-space" id="exampleInputPassword1" placeholder="Contraseña">
        <input class="form-buttom sign-facebook input-space" type="button" ng-click="update()" value="Login con facebook" style="color: white; background-color: #3b5999;   font-weight: normal;" />
      </div>

  </div>
  </form>
</div>
{% endblock content %}
