/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/

/* General */

// Membership
.button-member--cancel {
  color: white;
  background-color: red;
  width: 180px;
  margin-bottom: 5%;
  border: none;
}
.button-member--confirm {
  color: $black;
  background-color: $green;
  width: 180px;
  border: none;
}

/// Coach Dashboard //
.anchor-coach {
  color: $new-green;
  font-weight: bold;
  &:hover, &:link, &:visited, &:active {
    color: $new-green;
  }
}


//// CHAT BUTTON ///////////
.chat {
  background: url(../images/chat.png) no-repeat 6px center;
  width: 90px;
  height: 90px;
  display: block;
  right: 45px;
  position: fixed;
  bottom: 45px;
}
