/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/


.select-hidden {
  display: none;
  visibility: hidden;
}

.select-sport {
  @include box(90%, 50px, relative);
  cursor: pointer;

  margin: 10px auto;
  color: #999999;
  font-size: 18px;
  font-weight: bold;
  .select-box {
    @include border-radius(4px) ;
    @include position(absolute, true, 0);
    @include transition(all 0.2s ease-in);
    background-color: $green;
    padding: 8px 15px;
  }
  .select-options {
    @include position(absolute, $values: top 100% right 0 left 0);
    @include box(null, $height: 150px, $z-index: 999, $display: none);
    @extend %no-margin, %no-padding;
    list-style: none;
    background-color: $new-green;
    overflow-y: scroll;
    li {
      @include transition(all 0.15s ease-in);
      @extend %no-margin;
      padding: 5px 0;
      font-size: 18px;
      text-indent: 15px;
      color: $black;
      font-weight: bold;
      border-top: 1px solid $new-green;
      &:hover {
        color: $green;
        background: $white;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }

}

// Sign Up //
.input-space {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.input-sign {
  width: 100%;
  margin: 0 auto;
  background: url("../images/slide_2.jpg")no-repeat center;
  background-size: cover;
  height: auto;
  input {
    background-color: $green;
    font-weight: bold;
    color: $black;
    font-size: 18px;
     ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #fff;
    }
     :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
    }
     ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
    }
     :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #fff;
    }
  }
}

.input-signup {
  width: 90%;
  margin-bottom: 10px;
  border: none;
  @include border-radius(4px);
  padding: 10px;
}

//////LOGIN////////


.select-login-s {
  @include box(90%, 40px, relative);
  cursor: pointer;

  margin: 10px auto;
  color: #999999;
  font-size: 18px;
  font-weight: bold;
  .select-box-login {
    @include position(absolute, true, 0);
    @include transition(all 0.2s ease-in);
    background-color: $green;
    padding: 8px 15px;
  }
  .select-options-login {
    @include position(absolute, $values: top 100% right 0 left 0);
    @include box(null, $height: 150px, $z-index: 999, $display: none);
    @extend %no-margin, %no-padding;
    list-style: none;
    background-color: $new-green;
    overflow-y: scroll;
    li {
      @include transition(all 0.15s ease-in);
      @extend %no-margin;
      padding: 5px 0;
      font-size: 18px;
      text-indent: 15px;
      color: $black;
      font-weight: bold;
      border-top: 1px solid $new-green;
      &:hover {
        color: $green;
        background: $white;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }

}

.input-sign-login {
  width: 90%;
  margin: 0 auto;
  height: auto;
  input {
    background-color: $green;
    font-weight: bold;
    color: $black;
    font-size: 18px;
     ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #fff;
    }
     :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
    }
     ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
    }
     :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #fff;
    }
  }
  .input-signup-login {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    @include border-radius(4px);
    padding: 10px;
  }
  .form-group-login {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
