/**
  * Media queries Partial SASS
  * This SASS file has the break points
  * for each media query used on the app
  * !Important Sass extend cannot be used
  * on media queries, just include and functions
**/
/*Media Queries*/
@include mq($brk-less-lg) {

}
@include mq($brk-less-md) {

}
@include mq($brk-less-max-sm) {
  .special-two-col {
    float: left;
    width: 45%;
  }
}

@include mq($brk-less-sm) {
  .midtern-header {
    h1 {
      font-size: em(64px);
    }
    p {
      font-size: em(40px);
    }
  }
  .dissapear {
    display: block;
  }
  .middle-body {
    p {
      font-size: em(24px);
    }
  }
  .middle-middle {
    height: 300px;
  }
  .middle-counter {
    height: 300px;
  }
  .mision-vision {
    height: 300px;
    font-size: em(24px);
  }
  .navbar-default {
    height: em(100px);
  }
  .logo {
    width: 100%;
  }
  .carousel-images {
    height: 500px;
  }
  .carousel-images-dos {
    height: 500px;
  }
  .carousel-images-tres {
    height: 500px;
  }

  /////////  Sign up ////////
  .input-sign {
    height: 460px;
    input {
      font-size: 22px;
    }
  }
  .top-sign {
    img {
      width: 30%;
    }
    h1 {
      font-size: 40px;
    }
  }
  .function {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
  .more-info {
    p {
      font-size: 20px;
    }
  }
  ///////LOGIN/////

  .top-sign-login {
    img {
      width: 20%;
    }
    h1 {
      font-size: 30px;
    }
  }
  .input-sign-login {
    height: 460px;
    width: 50%;
    input {

      font-size: 22px;
    }
  }
  .select-sport {
  font-size: 22px;
  }
  //// Edit Profile //////
  .images-profile {
    margin-bottom: 20px;
    height: 240px;

    h2 {
      color: $black;
    margin-top: 50%;
    }
    input {
      margin-top: 54%;
      width: 180px;
    }
  }
  .container {
    margin-top: 0;
  }
  .middle-image {
    margin-top: 31%;
    margin-left:14px;
width: 100%;
  }
  .background-img-profile {
    background: $gray-material;
  }
  .align-labels {
    text-align: left;
  }
  .cd-tabs-content {

  }

  .form-group-modified {
    text-align: left;
  }

  .buttom-member-one {
    margin-bottom: 0;
  }

  //////Profile edit ////////
  .left-profile {

    h1 {
      text-align: left;
    }
  }
  .paragraph-up {
    text-align: left;
  }
  .body-paragraph-green {
    text-align: left;
  }
  .head-paragraph {
  text-align: left;
  }
  .body-paragraph-left {
    text-align: left;

  }
  .anchor-profile {
    text-align: left;
    margin-top: 82px;
    margin-bottom: 10%;

    a {
    margin: 0;
  display: none;

    }
  }
  .profile-photos-slide {

        height: 70px;

  }
  .head-body-bottom {
    text-align: left;
  }
  .body-paragraph-bottom {
    text-align: left;
  }


}
